html, body{
    background-color: #bedbbb!important;
}
#revampTitle, h1{
    font-family: 'Acme', sans-serif!important;  
    color:white;
}

  
  .wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: #92817a;
    animation: wave 15s infinite linear;
  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }
 #beginBtn{
     z-index: 1;
     position: relative;
 }

 .homePage, #description, #answerContain, #rightOrWrong, #endGameContain, #highscoreHeader, #highscoreTitle, #highscoreButtons, #highscoreList, .timerContainer{
    z-index: 1;
    position: relative;
 }
  #backToStart{
      margin-right: 20px;
  }
